/* 
Estilo Geral 
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

#container {
  background-image: url('/src/images/background-mobile.png');
  background-size: contain;
}

.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  background-color: transparent;
  transition: background-color 0.3s ease;
}


.btn-default{
  background-color: var(--color-primary-1);
  color: var(--color-neutral-0);

  &:hover{
    background-color: var(--color-primary-3);
  }
}

.btn-mobile {
  font-size: 1.5rem;
}

.btn-outlined {
  background-color: transparent;
  color: var(--color-primary-1);
  border: 2px solid var(--color-primary-1);

  &:hover {
    background-color: var(--color-primary-1);
    color: var(--color-neutral-0);
  }
}